@using CoreAndFood.Models
@model List<Category>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">

    <ul class="nav navbar-nav nav_1">
        <li>
            <a>

                <b>

                    KATEGORİLER
                </b>
            </a>
        </li>
    </ul>

    <ul class="nav navbar-nav nav_1">
        <li><a href="/Vitrin/Index">Tüm Kategoriler </a></li>
    </ul>
    @foreach (var i in Model)
    {
        <ul class="nav navbar-nav nav_1">
            <li><a href="/Vitrin/CategoryDetails/@i.CategoryId">@i.CategoryName </a></li>
        </ul>
    }



</div>

<!-- /.navbar-collapse -->