@using CoreAndFood.Models
@model List<AboutYorum>

<br>
<!-- Default box -->
<div class="card">
<div class="card-header">
    <h3 class="card-title">Köşe Yazısı</h3>

    <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i>
    </button>
    </div>
</div>
<div class="card-body p-0">

    <br>
    <button type="button" style="margin-left: 10px;" data-toggle="modal" data-target="#exampleModal2" class="btn btn-success">Ekle</button>
    <br>

    <table class="table table-striped projects">
        <thead>
            <tr>
                <th>#</th>
                <th>Sözü Yazan</th>
                <th>Söz</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        @{int a=1;}
        @foreach (var i in Model)
        {
            <tr>
                <th>@a</th>
                <td>@i.AboutYorumName</td>
                <td style="text-align:justify">@i.AboutYorumCommet</td>
                <td>
                    <a href="/About/DeleteAboutYorum/@i.AboutYorumId" class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/About/GetAboutYorum/@i.AboutYorumId" class="btn btn-warning">Güncelle</a>
                </td>
            </tr> 
            a++;
        }
       


        </tbody>
    </table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->



<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Köşe Yazısı Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/About/AddAboutYorum/" method="post">
         <div class="modal-body">
        <div class="mt-1">
            <label>Sözü Yazan </label>
            <input type="text" class="form-control" name="AboutYorumName" placeholder="Sözü yazanı yazınız..." required >
        </div>

        <div class="mt-3">
            <label>Söz</label>
            <textarea rows="5" placeholder="Sözü yazınız..." class="form-control"  name="AboutYorumCommet" required></textarea>
            
        </div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-success">Ekle</button>
      </div>
        
      </form>
     
    </div>
  </div>
</div>

